# Dependency directories
/node_modules/

# Build output directories
/release/
/dist/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Optional: Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.local_artifacts